@import '~bootstrap/scss/bootstrap';

// Tamanhos Gerais
.width100 {
    width: 100%;
}
.width90 {
    width: 90%;
}
.width80 {
    width: 80%;
}
.width70 {
    width: 70%;
}
.width60 {
    width: 60%;
}
.width50 {
    width: 50%;
}

.min-height100 {
    min-height: 100%;
}
.min-height90 {
    min-height: 90%;
}
.min-height80 {
    min-height: 80%;
}
.min-height70 {
    min-height: 70%;
}
.min-height60 {
    min-height: 60%;
}
.min-height50 {
    min-height: 50%;
}

.min-height100vh {
    min-height: 100vh;
}
.min-height90vh {
    min-height: 90vh;
}
.min-height80vh {
    min-height: 80vh;
}
.min-height70vh {
    min-height: 70vh;
}
.min-height60vh {
    min-height: 60vh;
}
.min-height50vh {
    min-height: 50vh;
}

.height100 {
    height: 100%;
}
.height90 {
    height: 90%;
}
.height80 {
    height: 80%;
}
.height70 {
    height: 70%;
}
.height60 {
    height: 60%;
}
.height50 {
    height: 50%;
}

.height100vh {
    height: 100vh;
}
.height90vh {
    height: 90vh;
}
.height80vh {
    height: 80vh;
}
.height70vh {
    height: 70vh;
}
.height60vh {
    height: 60vh;
}
.height50vh {
    height: 50vh;
}